NET "i_CLK" LOC = "P55"; # 29.498MHZ

NET "o_LED_VERDE" LOC = "P82" | IOSTANDARD = LVTTL;
NET "o_LED_LARANJA" LOC = "P81" | IOSTANDARD = LVTTL;

NET "i_button[0]" LOC = "P97" | IOSTANDARD = LVTTL;
NET "i_button[1]" LOC = "P99" | IOSTANDARD = LVTTL;
NET "i_button[0]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "i_button[1]" CLOCK_DEDICATED_ROUTE = FALSE;

NET "o_LCD_CLK"       LOC = "P120" | IOSTANDARD = LVTTL | SLEW=FAST;
NET "o_LCD_MOSI"      LOC = "P121" | IOSTANDARD = LVTTL | SLEW=FAST;
NET "o_LCD_CS"        LOC = "P119" | IOSTANDARD = LVTTL | SLEW=FAST;
NET "o_LCD_DC"        LOC = "P123" | IOSTANDARD = LVTTL | SLEW=FAST;
NET "o_LCD_RESET"     LOC = "P124" | IOSTANDARD = LVTTL | SLEW=FAST;
NET "o_LCD_BACKLIGHT" LOC = "P126" | IOSTANDARD = LVTTL;
